.venv
.DS_Store

__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

*.egg-info

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.pytest_cache
.ruff_cache
.mypy_cache
.vscode
.idea
.cursor
.cursorrules
.cursorrules.md
.cursorrules.txt
.cursorrules.yml

.idea
*.iml
